<div class="container">
<div class="panel panel-default">
  <div class="panel-body"">
  <div class="row">
  <div class="col-md-2">
  <img src="/images/target.jpg" class="img-responsive" alt="Target" style="width: 150px; height: 100px">
  </div>
  <div class="col-md-10">
  <h1>myRetail Administrator page</h1>
  </div>
  </div>
  </div>
</div>
<table class="table table-striped">
<thead>
<tr>
<th>Product Id</th>
<th>Product Name</th>
<th>Price</th>
<th>Currency</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="product in products">
<td>{{product.productId}}</td>
<td>{{product.productName}}</td>
<td>{{product.currentPrice.value}}</td>
<td>{{product.currentPrice.currency}}</td>
</tr>
</tbody>
</table>
</div>
