
<button type="button" ng-click="addProduct()"
	class="btn btn-default btn-lg">
	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
	Product
</button>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Product Id</th>
			<th>Product Name</th>
			<th>Price</th>
			<th>Currency</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="product in products">
			<td>{{product.productId}}</td>
			<td>{{product.productName}}</td>
			<td>{{product.currentPrice.value}}</td>
			<td>{{product.currentPrice.currency}}</td>
		</tr>
	</tbody>
</table>

